# BOT
BOT_TOKEN =

# PUBLISHING COMMANDS
CLIENT_ID = ""
GUILD_ID = "" # <-- OPTIONAL (OMIT = GLOBAL)

# PRISMA
#               postgres://<USERNAME>:<PASSWORD>@<HOST=LOCALHOST>:<PORT=5432>/<DATABASE>?schema=<SCHEMA>
DATABASE_URL = "postgres://postgres:admin@localhost:5432/doctor-large?schema=guilds"

